body {
	background-color: lightblue;
}

h1 {
	text-align: center;
	font-family: sans-serif;
	font-size: 50px;
}

h2 {
	font-size: 30px;
	font-family: sans-serif;
}

#paragraph2 {

	line-height: 35px;

	width: 850px;

	border-style: solid;
	border-width: 4.8px;
	border-color: green;
 
	padding: 20px 40px 20px 40px;
	margin: 25px 25px 25px 15px;
	background-color: white;

}

.blue {

	color: white;

	border-style: solid;
	border-width: 1px;
	border-color: black;

	background-color: darkblue;
	padding: 15px 15px 15px 15px;
	margin: 0px 0px 10px 0px;

}

ol {
	margin: 0px;
	padding: 0px;
  	list-style: none;
  	counter-reset: item;
}

ol li {
  	counter-increment: counter;
}

ol li::before {
  	content: counter(counter, decimal-leading-zero) ". ";
}

a[href*="w3schools"] {
	color: purple;
}

table, th{

	border:solid, 1px;
	background-color: lightgray;
	border-collapse: collapse;

	padding:0px;

}

table, td{
	border: solid, 1px;
	background-color: white;
	border-collapse: collapse;

	padding: 10px;

}